<nav>
    <div class="navbar">
        <div class="logo"><a routerLink="/" routerLinkActive="active-link" routerLinkActiveOption='{exact:true}'>CINEMA
                XD</a></div>
        <ul class="large-sc-size">
            <li>
                <a routerLink="/comming-soon" routerLinkActive="active-link">Comming Soon</a>
            </li>
            <li><a routerLink="/gift-cards" routerLinkActive="active-link">Gift Cards</a></li>
            <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
            <li><a routerLink="/about" routerLinkActive="active-link">About Us</a></li>
        </ul>
    </div>
</nav>