footer{
    width: 100%;
    background-color:#E6483A;
    color: white;
    box-shadow: 0 0 10px white;
    position: relative;
    z-index: 100;

}
.footer-container{
    width: 80%;
    max-width: 1360px;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
}

ul{
    padding-left: 20px;
    margin: auto;
    display: flex;
}
ul li {
    padding: 20px;
    list-style: none;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}



.copy-right{
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
    .footer-container{
        display: none;
    }
    .copy-right{
        margin: 0;
        padding: 20px;
    }
  }