<div class="about-container">
    <div class="with-bg">
        <h3>ABOUT</h3>
        <p><strong>CinemaXD</strong> Entertainment is part of Vue International - one of the world's
            leading
            cinema
            operators, managing the
            most
            respected brands in major European markets and Taiwan, spanning ten countries, over 280 sites and over 2,400
            screens.
        </p>
    </div>

    <h4>About CinemaXD Entartainment</h4>
    <p class="mb-5 pb-5">
        <strong>CinemaXD</strong> Entertainment (Vue) is a leader in the premium entertainment cinema sector in the UK.

        Committed to continued growth and development of its premium entertainment ‘big screen’ experience, Vue delivers
        the best choice of content, combined with the best technology in the best environment.

        Vue has 91 state of the art cinemas throughout the UK and Ireland, with over 870 screens. This includes 271 3D
        screens, 11 Extreme Screens, 7 Gold Class screens, 6 Scene Screens and Bars and 3 IMAX screens where Vue project
        the majority of our films in Sony Digital Cinema 4K for ultra high definition pictures with four times more
        detail. With over 150,000 seats, 98% of which are stadium seating, Vue's innovative development programme has
        led the way in the UK. Vue Westfield London (February 2010) and Vue Westfield Stratford City (September 2011)
        remain the first and third highest grossing cinemas in the country.
        <br>
        <br>
        <br>
        Vue Cinemas around the UK offer a range of content, in addition to highly anticipated blockbusters, with event
        cinema titles including opera, ballet, musicals, national theatre, live streaming of sporting events and
        concerts through to hosting Gaming championships and dedicating multiple screens to eGaming arenas.

        Vue was founded in the UK following the acquisition of the Warner Village Cinemas in 2003 and is part of the
        largest cinema group in Europe, Vue International.

        Over the years Vue has won numerous accolades for its service and innovations, including more recently
        International Exhibitor of the Year at CineEurope 2014 and Cinema Exhibitor of the Year Screen, Marketing &
        Distribution Awards 2013.
    </p>
</div>