.star {
    font-size: 1.5rem;
    color: #c2b57b;
}
.filled {
    color: #ee9f0d;
}

h2{
    color: white;
    background:black;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px -5px white;
}
.comment-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 100vh;
}

.comment-card{
    color: white;
    padding: 5px 10px ;
    margin: 10px;
}
.title{
    background: rgb(230, 72, 58);
    padding-left: 10px;
}
