<div class="calendar-container">
    <div class="container">
        <div class="section col-3">
            <div class="icon-text-container">
                <span class="material-icons">
                    date_range
                </span>
                <p>BY DAY</p>
            </div>
        </div>
        <div class="section col-5">
            <div class="icon-text-container">
                <span class="material-icons">
                    movie
                </span>
                <p>BY MOVIE</p>
            </div>
        </div>
        <div class="section col-4">
            <select name="filter form-control">
                <option value="newest col-12"> Newest first</option>
                <option value="alphabetical col-12"> Order movies alphabeticaly</option>
                <option value="wishList col-12"> In my wish list</option>
            </select>
        </div>
    </div>
    <div class="mb-2">
        <app-days></app-days>
    </div>
</div>