
*{
  color: white;
}
.calendar-container{
  background: rgb(230, 72, 58);
  color: white;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}
.container{
  background-color: black;
  display: flex;
  justify-content: center;
}


p{
  padding:5px;
  margin: 0;
  padding-left: 10px;
}
