<div class="contact-container">
    <div class="contact-info">
        <h4>Contact Info:</h4>
        <p>
            Tel : 995 322 555 000
            <br>
            Tel : +44 345 678 903
        </p>
        <p><a href="mailto:cinemaXDcontact@cinemaxd.com">Contct Us: cinemaXDcontact@cinemaxd.com</a></p>
    </div>
    <div class="map">
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>

</div>