<div class="container">
    <div class="movie-container">
        <label for="">Pick a seat:</label>
    </div>
    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>N/A</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Occupied</small>
        </li>
    </ul>

    <div class="seat-container">
        <div class="screen"></div>

        <!-- need to check -->
        <div class="row" *ngFor='let row of rowsArr; let r = index'>
            <div class="seat" *ngFor='let seat of seatsArr;let s = index' appSelect #seat (click)="onClickSelect(s,r)">
            </div>
        </div>
    </div>
</div>
<div class="btn-container">
    <button class="buy-now" (click)="onClickBuy()">
        Buy Now
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
            style="margin-left: 10px;" fill="#000000">
            <path d="M0 0h24v24H0V0z" />
            <path fill="#fff"
                d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z" />
        </svg>
    </button>
</div>