.star {
    font-size: 1.5rem;
    color: #c2b57b;
}
.filled {
    color: #ee9f0d;
}
.comment-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
h2{
    color: white;
    background:black;
    text-align: center;
    box-shadow: 0 0 5px white;
    margin-bottom: 50px;
}
.space{
    height: 110px;
}
.comment-card{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px 10px 0;
    box-shadow: 0 1px 5px white;
    cursor: pointer;
}
.comment-card:hover{
    box-shadow: 0 1px 5px rgb(230, 72, 58);
}
.left{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width: 92%;
    padding:0 2px;
}
.comment-card .left img{
    max-width: 100px;
    max-height: 100px;
    height: 40%;
}
.title{
    background: rgb(230, 72, 58);
    padding-left: 10px;
}

@media only screen and (max-width: 500px) {
   .left img{
       height: 20px;
       width: 20px;
       object-fit: contain;
   }
   h2{
       margin-bottom: 10px;
   }
  }